.container {
  background-color: var(--ax-bg-sunken);
  border-bottom-right-radius: var(--ax-radius-8);
}

.hjemmelContainer {
  border-bottom: 1px solid var(--ax-border-neutral-subtle);
  background-color: var(--ax-bg-default);
}

.hjemmelTittel {
  padding-top: var(--ax-space-8);
  margin: 0 var(--ax-space-8);
}

.hjemmelKilde {
  margin: 0 var(--ax-space-8) var(--ax-space-8);
}

.opplysningListeHeading {
  padding: var(--ax-space-8);
  margin-top: var(--ax-space-16);
}

.opplysningLinje {
  margin: 0 var(--ax-space-16);
}

.opplysningLinje:not(:last-child) {
  border-bottom: 1px solid var(--ax-border-neutral-subtle);
}

.opplysningLinjeKnappAktiv {
  background-color: var(--ax-bg-neutral-moderate-pressed);
  box-shadow: 4px 0 0 0 inset var(--ax-border-neutral-subtleA);
}

.opplysningLinjeKnapp {
  text-align: left;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: var(--ax-space-8);
}

.opplysningLinjeKnapp:hover {
  background-color: var(--ax-bg-neutral-moderate-hover);
  cursor: pointer;
}
