.container {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-2);
}

.popover {
  border: none;
  border-radius: var(--a-border-radius-small);
  box-shadow: var(--a-shadow-small);
  min-width: 234px;
}

.popover a,
.popover button {
  justify-content: flex-start;
}

.popover a span,
.popover button span {
  font-weight: var(--a-font-weight-regular);
}
