.kravPaaDagpenger {
  display: flex;
  align-items: center;
  padding: var(--ax-space-8);
}

.kravPaaDagpenger svg {
  margin-right: var(--ax-space-4);
}

.kravPaaDagpengerSuccess {
  background-color: var(--ax-bg-success-moderate);
}

.kravPaaDagpengerError {
  background-color: var(--ax-bg-danger-moderate);
}
