.kravPaaDagpenger {
  display: flex;
  align-items: center;
  padding: var(--a-spacing-2);
}

.kravPaaDagpenger svg {
  margin-right: var(--a-spacing-1);
}

.kravPaaDagpengerSuccess {
  background-color: var(--a-green-100);
}

.kravPaaDagpengerError {
  background-color: var(--a-red-100);
}
