BASE_PATH="/saksbehandling"
DP_BEHANDLING_URL="https://dp-behandling.intern.dev.nav.no"
DP_RAPPORTERING_URL="https://dp-rapportering.intern.dev.nav.no"
IS_LOCALHOST="true"
USE_MSW="false"
DP_RAPPORTERING_TOKEN=""