node_modules

/build
/public/build
/server/build

.DS_Store

/.cache
/resources

#intellij
*.iml
/.idea
/.fleet

.env.local

# Playwright
/test-results/
/playwright-report/
/playwright/.cache/

#Vitest
coverage

# .env
.env