.preview {
  width: 210mm; /* A4 bredde */
  height: 297mm; /* A4 høyde */
  padding: 20mm;
  box-shadow: var(--a-shadow-xsmall);
  background-color: white;
  overflow: scroll;
  page-break-after: always;
}
