.preview {
  width: 210mm; /* A4 bredde */
  height: 297mm; /* A4 høyde */
  padding: 25mm;

  box-shadow: var(--a-shadow-medium);
  background-color: white;
  overflow: auto;
  page-break-after: always;

  font-family:
    Source Sans Pro,
    sans-serif;
  font-size: 12pt;
}

.preview h1 {
  font-size: 18pt;
}

.preview h2 {
  font-size: 16pt;
}

.preview h3 {
  font-size: 14pt;
}

.preview p {
  font-size: 12pt;
}

.logo {
  color: var(--a-nav-red);
  margin-bottom: 36pt;
}

.header {
  margin-bottom: 40pt;
}

.header p {
  margin-bottom: 4pt;
}

.saksnummerDato {
  display: flex;
  justify-content: space-between;
}
