.container {
  display: flex;
  border-bottom: 1px solid var(--ax-border-neutral);
}

.lenke {
  display: flex;
  align-items: center;
  padding: var(--ax-space-12);
  white-space: nowrap;
  color: var(--ax-text-neutral);
  text-decoration: none;
}

.lenke:hover {
  box-shadow: inset 0 -3px 0 0 var(--ax-border-neutral-subtle);
}

.lenkeAktiv.lenkeAktiv {
  box-shadow: inset 0 -3px 0 0 var(--ax-border-accent);
}
