.arbeidsforhold {
    list-style: none;
}

.arbeidsforhold dt:before {
  content: "";
  display: block;
}

.arbeidsforhold dt, .arbeidsforhold dd {
  display: inline;
}

.arbeidsforhold dt {
    font-weight: bold;
}

.arbeidsforhold dd {
    margin-inline-start: 20px;
}