.container {
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 20;
}

.search {
  padding: 0 var(--a-spacing-4);
}

.linkItem {
  padding: var(--a-spacing-2) var(--a-spacing-4);
  margin-top: 4px;
  border-bottom: 4px solid var(--a-transparent);
  color: var(--a-white);
  text-decoration: none;
  white-space: nowrap;
}

.linkItem:hover {
  border-bottom: 4px solid var(--a-gray-300);
}

.linkItemActive.linkItemActive {
  border-bottom: 4px solid var(--a-blue-500);
}

.user {
  margin-left: auto;
  align-self: stretch;
  white-space: nowrap;
}

.user button {
  height: 100%;
}

.user.navdsi-dropdown__menu {
  z-index: 30;
}
