.container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.container div:first-child {
  margin-bottom: var(--ax-space-4);
}

.container div > * {
  gap: 0;
}

.datepicker label {
  color: var(--ax-text-neutral-subtle);
  font-size: var(--ax-font-size-small);
  font-weight: var(--ax-font-weight-regular);
}
