.popoverContent {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-8);
}

.popoverContent a,
.popoverContent button {
  justify-content: flex-start;
}

.popoverContent a span,
.popoverContent button span {
  font-weight: var(--ax-font-weight-regular);
}
