.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  max-width: 500px;
  margin-right: var(--ax-space-16);
}

.container svg {
  --size: 1;
  --rotation: 1;
  transform: scale(calc(0.5 + 0.8 * var(--size))) rotate(calc(-60deg + 120deg * var(--rotation)));
  margin: 0 var(--ax-space-8);
  transition: transform 10s ease;
}
