.popover.popover {
  border: none;
  border-radius: var(--ax-radius-4);
  box-shadow: var(--dp-shadow-2);
  min-width: 234px;
  font-weight: var(--ax-font-weight-regular);
}

.popover p span {
  font-weight: var(--ax-font-weight-regular);
}
