.modalHeader {
  text-transform: capitalize;
  margin-bottom: var(--a-spacing-6);
}

.aktivitetKontainer {
  display: flex;
  flex-direction: column;
}


.slettKnapp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0;
  width: 300px;
  cursor: pointer;
  padding: var(--a-spacing-2) var(--a-spacing-4);
  margin: 0 calc(var(--a-spacing-1) * -1) var(--a-spacing-2);
  background-color: var(--a-blue-200);
  border-radius: var(--a-spacing-6);
}

.feilmelding {
  margin-top: var(--a-spacing-4);
}

.Arbeid {
  background-color: var(--a-blue-200);
}
.Arbeid:hover {
  background-color: var(--a-blue-300);
}
.Syk {
  background-color: var(--a-orange-200);
}
.Syk:hover {
  background-color: var(--a-orange-300);
}
.Ferie {
  background-color: var(--a-green-200);
}
.Ferie:hover {
  background-color: var(--a-green-300);
}

@media screen and (min-width: 768px) {
  .aktivitetKontainer {
    min-width: 450px;
  }
}
