.resizableContainer {
  display: flex;
  position: relative;
  padding-bottom: var(--a-spacing-1);
}

.resizableContainer :global(.card) {
  overflow-x: scroll;
}

.pillHandle {
  width: var(--a-spacing-5);

  cursor: col-resize;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: var(--a-z-index-focus);
}

.pillHandle::after {
  content: "";
  height: 40px;
  width: 6px;
  background-color: var(--a-gray-500);
  border-radius: 10px;
}

.pillHandle:hover::after {
  transform: scale(1.1);
}

.pillHandle:active::after {
  transform: scale(1);
}
