.meldingOmVedtakContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--ax-space-12);
  padding: var(--ax-space-12);
  min-height: 220px;
}

.previewContainer {
  display: flex;
  justify-content: center;
  align-items: start;
  color: rgb(32, 39, 51);
  padding: var(--ax-space-12) 0;
  background-color: var(--ax-bg-sunken);
  box-shadow: var(--dp-shadow-inset);
}
