/* Aksel tidslinje overrides */
.aksel--compact {
  .aksel-timeline {
    overflow: hidden;
  }

  .aksel-timeline__axislabels {
    margin-bottom: var(--ax-space-20);
  }

  .aksel-timeline__row {
    margin: var(--ax-space-4) 0;
  }

  .aksel-timeline__row-label {
    width: 250px;
    margin-right: 0;
  }

  .aksel-timeline__row-label a {
    display: block;
  }

  .aksel-timeline__row-label a,
  .aksel-timeline__row-label button {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .aksel-timeline__row-label button .aksel-label {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .aksel-timeline__pin-button {
    margin-bottom: calc(var(--ax-space-4) * -1);
  }
}

/* Aksel expansion overrides */
.expansion--subtil {
  &.expansion--subtil {
    border-radius: 0;
    border-bottom: 1px solid var(--ax-border-neutral);
    --__axc-expansioncard-border-radius: 0;
    --__axc-expansioncard-border-button-radius: 0;
  }

  .aksel-expansioncard__header[data-open="true"]:after {
    left: 0;
    width: 100%;
  }
  .aksel-expansioncard__content {
    background-color: var(--ax-bg-default);
  }
}

/* Aksel radio overrides */
.aksel--horisontal .aksel-radio-buttons {
  display: flex;
  gap: var(--ax-space-8);
}

.aksel--font-regular {
  .aksel-button__icon,
  .aksel-label {
    font-weight: var(--ax-font-weight-regular);
  }
}

.aksel--full-bredde {
  width: 100%;
  justify-content: flex-start;
}

/*Aksel process override*/
.aksel--compact {
  .aksel-process__title {
    font-size: var(--ax-font-size-heading-xsmall);
    padding-bottom: 0;
  }
  .aksel-process__timestamp {
    font-size: var(--ax-font-size-small);
    /*margin-bottom: 0;*/
  }
}
