/* Aksel expansion overrides */
.expansion--subtil {
  /*box-shadow: var(--a-shadow-xsmall);*/
  --ac-expansioncard-border-color: none;
  --ac-expansioncard-border-hover-color: none;
  --ac-expansioncard-border-radius: var(--a-border-radius-medium);
}

/* Fjern border under header når expansion er åpen */
.expansion--subtil.navds-expansioncard--open > :where(.navds-expansioncard__header)::after {
  opacity: 0;
}

/* Fiks border radius på tabell inne i expansioncard */
.expansion--subtil tr:last-child:nth-child(odd) th,
.expansion--subtil tr:last-child:nth-child(odd) td {
  border-bottom-right-radius: var(--a-border-radius-large);
  border-bottom-left-radius: var(--a-border-radius-large);
}

/* Fjern box-shadow på hover */
.expansion--subtil:hover > div {
  box-shadow: none;
}

/* Aksel tabell overrides*/
.tabell--subtil {
  --ac-table-row-zebra: color-mix(in srgb, var(--a-blue-200) 12%, transparent);
}

/* Legg til border under header */
.tabell--subtil thead tr {
  border-bottom: 1px solid var(--a-border-subtle);
}

/* Fjern border på alle rader */
.tabell--subtil tr th,
.tabell--subtil tr td {
  border-bottom: 0;
}

/* Fjern luft over input når det ikke er label */
.textarea--kompakt > label:empty {
  display: none;
}

/* Flytt lås ikon til høyre for tekstfelt */
.textarea--kompakt.navds-form-field--readonly {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

/* Fjern luft rundt lås */
.textarea--kompakt.navds-form-field--readonly svg {
  margin-right: 0;
}

/* Overskriv Aksel defaults */
.navds-modal__footer.navds-modal__footer {
  flex-flow: row wrap;
}

.navds-modal__footer.navds-modal__footer :nth-of-type(2) {
  margin-left: 0;
}

/* Ekstra kompakt Aksel */
.aksel--compact .navds-fieldset > :not(:first-child):not(:empty) {
  margin-top: 0;
}

.aksel--compact .navds-table__row {
  height: 40px;
}

.aksel--compact th,
.aksel--compact tr {
  font-size: var(--a-font-size-medium);
  letter-spacing: 0.002em;
  line-height: var(--a-font-line-height-medium);
}

/* Align radio horisontalt istedet for verticalt */
.aksel--compact .navds-radio-buttons {
  display: flex;
  gap: var(--a-spacing-2);
}

/* Flytt lås for read-only til horisontal linje for tekst/date input felt */
.aksel--compact .navds-form-field {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

/* Flytt lås for read-only til horisontal linje for radio input felt */
.aksel--compact .navds-radio-group {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  /*margin-left: var(--a-spacing-2);*/
}

/* Flytt lås for read-only til horisontal linje for radio input felt og gi min width for å aligne med felter som ikke er read-only*/
.aksel--compact .navds-fieldset__legend {
  float: right;
  align-self: center;
  margin-left: var(--a-spacing-4);
}

.aksel--compact .navds-text-field--error {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.aksel--compact .navds-text-field__input {
  max-width: 130px;
}

.aksel--compact .navds-table__data-cell,
.aksel--compact .navds-table__header-cell {
  padding: 0;
}

.checkbox--compact.navds-fieldset > :not(:first-child):not(:empty) {
  margin-top: 0;
}

.alert--compact.alert--compact {
  padding: var(--a-spacing-1) var(--a-spacing-2);

  border: 0;
  border-bottom: 1px solid var(--a-border-subtle);
}

.alert--compact .navds-alert__icon {
  align-self: center;
}

.alert--compact .navds-alert__wrapper {
  max-width: 100%;
}

/*Legg til luft mellom hver opplysning*/
.opplysning--compact-vertikal {
  margin-bottom: var(--a-spacing-6);
}

/*Fjern luft mellom label og input*/
.opplysning--compact-vertical .navds-fieldset > :not(:first-child, :empty),
.opplysning--compact-horisontal .navds-fieldset > :not(:first-child, :empty) {
  margin-top: 0;
}

/*Flytt label for input felt fra vertikal til horisontal visning.*/
.opplysning--compact-horisontal .navds-date__field,
.opplysning--compact-horisontal .navds-form-field,
.opplysning--compact-horisontal .navds-fieldset {
  display: grid;
  grid-template-columns: minmax(auto, 400px) 1fr;
  align-items: center;
  gap: 0;
}

/*Plasser label i første grid kolonne. Trenger float for å få legend til å ligge sentrert i boksen*/
.opplysning--compact-horisontal .navds-fieldset__legend {
  grid-column: 1;
  float: left;
  font-weight: var(--a-font-weight-regular);
}

/*Plasser label i første grid kolonne.*/
.opplysning--compact-horisontal .navds-form-field__label {
  font-weight: var(--a-font-weight-regular);
  grid-column: 1;
}

/*Plasser radio inputs i andre grid kolonne. Flex for å få horisontale radio buttons*/
.opplysning--compact-horisontal .navds-radio-buttons {
  grid-column: 2;
  display: flex;
  gap: var(--a-spacing-4);
  white-space: nowrap;
}

/*Plasser date input i andre grid kolonne.*/
.opplysning--compact-horisontal .navds-date__field-wrapper {
  grid-column: 2;
}

/*Align datepicker popover med andre kolonne slik at den komme under faktisk input felt. Må samkjøres med grid-template-columns over*/
.opplysning--compact-horisontal .navds-date__wrapper .navds-popover.navds-date__popover {
  left: 400px !important;
}

/*Align error med inputs i andre kolonne*/
.opplysning--compact-horisontal .navds-form-field__error,
.opplysning--compact-horisontal .navds-fieldset__error {
  grid-column: 2;
}
