/* Aksel tidslinje overrides */
.aksel--compact .aksel-timeline {
  overflow: hidden;
}

.aksel--compact .aksel-timeline__axislabels {
  margin-bottom: var(--ax-space-20);
}

.aksel--compact .aksel-timeline__row {
  margin: var(--ax-space-4) 0;
}

.aksel--compact .aksel-timeline__row-label {
  width: 220px;
}

.aksel--compact .aksel-timeline__row-label a {
  display: block;
}

.aksel--compact .aksel-timeline__row-label a,
.aksel--compact .aksel-timeline__row-label button {
  overflow: hidden;
  text-overflow: ellipsis;
}

.aksel--compact .aksel-timeline__row-label a:hover,
.aksel--compact .aksel-timeline__row-label button[data-color="neutral"]:hover {
  overflow: visible;
  background-color: var(--ax-bg-default);
  z-index: 3;
  padding-right: 10px;
  border-radius: var(--ax-border-radius-large);
}

.aksel--compact .aksel-timeline__row-label button:hover {
  overflow: visible;
  z-index: 3;
}

.aksel--compact .aksel-timeline__row-label button .aksel-label {
  overflow: hidden;
  text-overflow: ellipsis;
}

.aksel--compact .aksel-timeline__pin-button {
  margin-bottom: calc(var(--ax-space-4) * -1);
}

/* Aksel expansion overrides */
.expansion--subtil.expansion--subtil {
  border-radius: 0;
  border-bottom: 1px solid var(--ax-border-neutral);
  --__axc-expansioncard-border-radius: 0;
  --__axc-expansioncard-border-button-radius: 0;
}

.expansion--subtil .aksel-expansioncard__header[data-open="true"]:after {
  left: 0;
  width: 100%;
}
.expansion--subtil .aksel-expansioncard__content {
  background-color: var(--ax-bg-default);
}

/* Aksel radio overrides */

.aksel--horisontal .aksel-radio-buttons {
  display: flex;
  gap: var(--ax-space-8);
}
