/* Aksel expansion overrides */
.expansion--subtil {
  --ac-expansioncard-border-hover-color: var(--a-border-default);
  --ac-expansioncard-border-radius: var(--a-border-radius-medium);
}

/* Mindre padding i header */
.expansion--subtil .navds-expansioncard__header {
  padding: var(--a-spacing-2);
}

/* Fjern border under header når expansion er åpen */
.expansion--subtil.navds-expansioncard--open > :where(.navds-expansioncard__header)::after {
  opacity: 0;
}

/* La innhold i expansioncard ta opp hele plassen */
.expansion--subtil .navds-expansioncard__content {
  padding: 0;
}

/* Fiks border radius på tabell inne i expansioncard */
.expansion--subtil tr:last-child:nth-child(odd) th,
.expansion--subtil tr:last-child:nth-child(odd) td {
  border-bottom-right-radius: var(--a-border-radius-large);
  border-bottom-left-radius: var(--a-border-radius-large);
}

/* Fjern box-shadow på hover */
.expansion--subtil:hover > div {
  box-shadow: none;
}

/* Aksel tabell overrides*/
.tabell--subtil {
  --ac-table-row-zebra: #f8f9fc;
}

/* Fjern border på alle rader */
.tabell--subtil tr th,
.tabell--subtil tr td {
  border-bottom: 0;
}

/* Fjern luft over input når det ikke er label */
.textarea--kompakt > label:empty {
  display: none;
}

/* Flytt lås ikon til venstre for tekstfelt */
.textarea--kompakt.navds-form-field--readonly {
  display: flex;
  align-items: center;
}

/* Fjern luft rundt lås */
.textarea--kompakt.navds-form-field--readonly svg {
  margin-right: 0;
}

/* Overskriv Aksel defaults */
.navds-modal__footer.navds-modal__footer {
  flex-flow: row wrap;
}

/* Ekstra kompakt Aksel */
.aksel--compact .navds-fieldset > :not(:first-child):not(:empty) {
  margin-top: 0;
}

.aksel--compact .navds-table__row {
  height: 40px;
}

.aksel--compact th,
.aksel--compact tr {
  font-size: var(--a-font-size-medium);
  letter-spacing: 0.002em;
  line-height: var(--a-font-line-height-medium);
}

/* Align radio horisontalt istedet for verticalt */
.aksel--compact .navds-radio-buttons {
  display: flex;
  gap: var(--a-spacing-2);
}

/* Flytt lås for read-only til horisontal linje for tekst/date input felt */
.aksel--compact .navds-form-field {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
}

/* Flytt lås for read-only til horisontal linje for radio input felt */
.aksel--compact .navds-radio-group {
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;
  /*margin-left: var(--a-spacing-2);*/
}

/* Flytt lås for read-only til horisontal linje for radio input felt og gi min width for å aligne med felter som ikke er read-only*/
.aksel--compact .navds-fieldset__legend {
  float: right;
  align-self: center;
  margin-left: var(--a-spacing-4);
}

.aksel--compact .navds-text-field--error {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.aksel--compact .navds-text-field__input {
  max-width: 130px;
}

.aksel--compact .navds-table__data-cell,
.aksel--compact .navds-table__header-cell {
  padding: 0;
}

.checkbox--compact.navds-fieldset > :not(:first-child):not(:empty) {
  margin-top: 0;
}

.alert--compact.alert--compact {
  padding: var(--a-spacing-1) var(--a-spacing-2);

  border: 0;
  border-bottom: 1px solid var(--a-border-subtle);
}

.alert--compact .navds-alert__icon {
  align-self: center;
}

.alert--compact .navds-alert__wrapper {
  max-width: 100%;
}
