@import "tailwindcss";
@import "@navikt/ds-css/darkside" layer(dsComponents);

:root .light {
  --dp-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.15), 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  --dp-shadow-inset:
    0px 1px 3px 0px rgba(0, 0, 0, 0.15) inset, 0px 0px 1px 0px rgba(0, 0, 0, 0.2) inset;
}

:root .dark {
  --dp-shadow: 0px 1px 3px 0px rgba(107, 107, 138, 0.35), 0px 0px 1px 0px rgba(107, 107, 138, 0.5);
  --dp-shadow-inset:
    0px 1px 3px 0px rgba(107, 107, 138, 0.35) inset, 0px 0px 1px 0px rgba(107, 107, 138, 0.5) inset;
}

.main {
  background-color: var(--ax-bg-sunken);
  padding: var(--a-space-16);
  min-height: calc(100vh);
}

.card {
  background-color: var(--ax-bg-default);
  box-shadow: var(--dp-shadow);
  border-radius: var(--ax-border-radius-medium);
}

.card-raised {
  background-color: var(--ax-bg-neutral-soft);
}
