@import "tailwindcss";
@import "@navikt/ds-css/darkside" layer(dsComponents);

body {
  background-color: var(--a-grayalpha-50);
  min-height: calc(100vh);
}

.card {
  background-color: var(--ax-bg-default);
  box-shadow: var(--a-shadow-xsmall);
  border-radius: var(--a-border-radius-medium);
}
