/*https://aksel.nav.no/monster-maler/brev/visuelle-retningslinjer-for-brev*/
.melding-om-vedtak {
  width: 595px; /* A4 bredde */
  height: 842px; /* A4 høyde */
  padding: 64px 64px 74px;

  box-shadow: var(--a-shadow-medium);
  background-color: white;
  overflow: auto;

  font-family: Source_Sans_3, sans-serif;
  font-size: 11px;
  line-height: 16px;
  font-weight: normal;
}

.melding-om-vedtak__header,
.melding-om-vedtak__logo {
  margin-bottom: 48px;
}

.melding-om-vedtak__header p {
  font-size: 11px;
  line-height: 16px;
  font-weight: normal;
  margin: 0;
}

.melding-om-vedtak__opplysning-verdi {
  white-space: nowrap;
}

/* Bruker floats for å gjøre PDF generatoren fornøyd */
.melding-om-vedtak__saksnummer-dato {
  overflow: hidden; /* Clear the floats */
}

.melding-om-vedtak__saksnummer-dato--left {
  float: left;
}

.melding-om-vedtak__saksnummer-dato--right {
  float: right;
}

.meldingOmVedtak__tekst-blokk {
  margin-bottom: 26px;
}

.meldingOmVedtak__tekst-blokk--first {
  margin-bottom: 0;
}

.meldingOmVedtak__tekst-blokk h1 {
  font-size: 16px;
  line-height: 20px;
  font-weight: bold;
  letter-spacing: 0.3px;
  margin: 0 0 26px 0;
}

.meldingOmVedtak__tekst-blokk h2,
.meldingOmVedtak__tekst-blokk h3,
.meldingOmVedtak__tekst-blokk h4 {
  line-height: 16px;
  font-weight: bold;
  margin: 0 0 6px 0;
}

.meldingOmVedtak__tekst-blokk h2 {
  font-size: 13px;
  letter-spacing: 0.25px;
}

.meldingOmVedtak__tekst-blokk h3 {
  font-size: 12px;
  letter-spacing: 0.2px;
}

.meldingOmVedtak__tekst-blokk h4 {
  font-size: 11px;
  letter-spacing: 0.1px;
}

.meldingOmVedtak__tekst-blokk p {
  font-size: 11px;
  line-height: 16px;
  font-weight: normal;
}

.meldingOmVedtak__signatur {
  margin-top: 32px;
}
