.meldingOmVedtakContainer {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: var(--a-spacing-4);
  padding: var(--a-spacing-4);
  align-items: start;
}

.previewContainer {
  display: flex;
  justify-content: center;
  padding: var(--a-spacing-4) 0;
  margin-top: calc(var(--a-spacing-4) * -1);
  margin-right: calc(var(--a-spacing-4) * -1);
  margin-bottom: calc(var(--a-spacing-4) * -1);
  background-color: var(--a-gray-800);
  color: white;
}

.previewContainer > div {
  width: 595px; /* A4 bredde */
  height: 842px; /* A4 høyde */
  padding: 64px 64px 74px;

  box-shadow: var(--a-shadow-medium);
  background-color: white;
  color: var(--a-text-default);
  overflow: auto;
}
