.orkestratorBarn {
  margin-top: var(--a-spacing-8);
}

.opplysningBarnHeader {
  margin-left: var(--a-spacing-3);
}

.opplysningBarnTabell {
  width: 100%;
  margin: 0;
  border-collapse: collapse;
  border-spacing: var(--a-spacing-20);
}

.opplysningBarnTabell td {
  padding: var(--a-spacing-2);
}

.opplysningBarnTabell tr {
  border-top: 1px solid var(--a-border-divider);
}

.opplysningBarnTabell.bakgrunn tr:nth-child(odd) {
  background-color: #f8f9fc;
}

.opplysningBarnTabell.bakgrunn tr:nth-child(even) {
  background-color: #ffffff;
}

.opplysningBarnTabell td:first-child {
  padding-left: var(--a-spacing-3);
}

.opplysningBarnTabell td:last-child {
  display: flex;
  justify-content: flex-end;
  padding-right: var(--a-spacing-3);
}

.endreKnapp {
  margin: var(--a-spacing-4) 0 0 var(--a-spacing-3);
}

.modal {
  min-width: 550px;
}
