.alertCard {
  border-bottom: 1px solid var(--ax-border-subtle);
  border-radius: 0;
}

.alertCard > div {
  border: none !important;
  box-shadow: none !important;
  border-radius: 0;
}

.heading {
  background-color: var(--ax-bg-accent-moderate);
  padding: var(--ax-space-8);
}

.heading::after {
  height: 0;
}

.heading > div {
  display: flex;
  align-items: center;
}

.heading > div svg {
  margin-right: var(--ax-space-8);
}

.headingWarning {
  background-color: var(--ax-bg-warning-moderate);
}

.content {
  padding: var(--ax-space-16) var(--ax-space-40);
}

.begrunnelseInput {
  margin-top: var(--ax-space-8);
}

.content button {
  margin-top: var(--ax-space-8);
  margin-right: var(--ax-space-8);
}
