.kulepunktActive.kulepunktActive {
  background-color: var(--a-gray-200);
  border-left: 5px solid var(--a-blue-400);
}

.kulepunktGroenn::before {
  background-color: var(--a-green-400);
}

.kulepunktGul::before {
  background-color: var(--a-orange-400);
}

.kulepunktRoed::before {
  background-color: var(--a-red-400);
}

.kulepunkt {
  display: flex;
  position: relative;
  align-items: center;
  padding: 10px 10px 10px 30px;
  color: black;
  text-decoration: none;
  border-left: 5px solid transparent;
}

.kulepunkt:hover {
  background-color: var(--a-gray-200);
}

.kulepunkt::before {
  position: absolute;
  left: 10px;
  content: "";
  border-radius: 20%;
  width: 10px;
  margin-right: 10px;
  height: 10px;
}
