.container {
  position: fixed;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);

  width: 80%;
  z-index: 1100;
}

.alert.alert {
  border: none;
  border-radius: var(--a-border-radius-xlarge);
  margin-bottom: var(--a-spacing-2);

  opacity: 0;
}

.alertFadeIn {
  animation-duration: 250ms;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

.alertFadeInOut {
  animation-duration: 3000ms;
  animation-name: fadeInOut;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

/* Aksel override */
.alert > div {
  max-width: 100%;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
