.OppgaveHandlinger {
  display: flex;
  gap: var(--ax-space-8);
  align-items: center;

  padding: var(--ax-space-8);
  margin-left: auto;
}

.OppgaveHandlinger > Form {
  display: inline-block;
}

.OppgaveHandlinger button {
  white-space: nowrap;
}

.formError {
  margin: var(--ax-space-8) 0;
}

.beholdOppgaveCheckbox {
  margin: var(--ax-space-8) 0;
}
