.OppgaveHandlinger {
  display: flex;
  gap: var(--a-spacing-2);
  align-items: center;

  padding: var(--a-spacing-2);
  margin-left: auto;
}

.OppgaveHandlinger > Form {
  display: inline-block;
}

.OppgaveHandlinger button {
  white-space: nowrap;
}

.formError {
  margin: var(--a-spacing-2) 0;
}

.beholdOppgaveCheckbox {
  margin: var(--a-spacing-2) 0;
}
