.oppgavelisteHeader {
  display: flex;
  justify-content: space-between;
}

.heading {
  display: flex;
  align-items: center;
  gap: var(--a-spacing-1);
}

.antallOppgaver.antallOppgaver {
  margin-left: auto;
  margin-right: var(--a-spacing-2);
}
