.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 0.6;
}

.container svg {
  --size: 1;
  --rotation: 1;
  transform: scale(calc(0.5 + 0.8 * var(--size))) rotate(calc(-60deg + 120deg * var(--rotation)));
}

.container svg {
  transition: transform 10s ease;
}
