.container {
  max-width: 971px;
  padding: var(--a-spacing-4);
}

.forslagBody {
  padding: var(--a-spacing-4) 0;
}

.approved th {
  background-color: var(--a-green-100);
}

.denied th {
  background-color: var(--a-red-100);
}

.result {
  display: flex;
  align-items: center;
}

.result svg {
  margin-right: var(--a-spacing-1);
}
