.container {
    max-width: 971px;
    padding: 0 var(--a-spacing-8) var(--a-spacing-8) var(--a-spacing-8);
}
.approved {
    background-color: var(--a-green-100);
}
.denied {
    background-color: var(--a-red-100);
}
