.container {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-8);
}

.popover.popover {
  border: none;
  border-radius: var(--ax-radius-4);
  box-shadow: var(--dp-shadow);
  min-width: 234px;
}

.popover.popover a,
.popover.popover button {
  justify-content: flex-start;
}

.popover.popover a span,
.popover.popover button span {
  font-weight: var(--ax-font-weight-regular);
}
