.tableCellOpplysningVerdi {
  display: flex;
}

.table tr td:nth-child(1) {
  padding-left: var(--a-spacing-2);
}

.table tr td:nth-child(2) {
  width: 180px;
  padding-right: var(--a-spacing-2);
}

.vilkaarContainer {
  display: flex;
  height: 100%;
}

.sidebar {
  width: 260px;
  border-right: 1px solid var(--a-border-subtle);
}

.content {
  flex: 1;
  padding: var(--a-spacing-4);
}

.active {
  position: relative;
  cursor: pointer;
  background-color: var(--a-bg-subtle);
  box-shadow: 4px 0 0 0 inset var(--a-border-action-selected);
}

.opplysningKategoriBody {
  margin: var(--a-spacing-4) 0 var(--a-spacing-6);
}

.circleIcon {
  margin-left: var(--a-spacing-2);
  color: var(--a-surface-warning-moderate);
}

.listItem:hover {
  background-color: var(--a-surface-hover);
}

.categoryList ul li {
  margin: 0;
  cursor: pointer;
  padding: var(--a-spacing-2);
}

.lagreKnapp {
  white-space: nowrap;
}
