.tableCellOpplysningVerdi {
  display: flex;
}

.table tr td:nth-child(1) {
  padding-left: var(--a-spacing-2);
}

.table tr td:nth-child(2) {
  width: 180px;
}

.table tr td:nth-child(3) {
  width: 70px;
}

.container {
  display: flex;
}

.sidebar {
  width: 30rem;
  border-right: 1px solid var(--a-surface-neutral-moderate);
}

.kategoriHeader {
  padding: 0 var(--a-spacing-4);
}

.active {
  position: relative;
  cursor: pointer;
  background-color: var(--a-bg-subtle);
}

.active::before {
  content: '';
  position: absolute;
  display: inline-block;
  left: -4;
  top: 0;
  bottom: 0;
  width: 4px;
  transform: translateX(-100%);
  background-color: var(--a-surface-action-selected);
}
.circleIcon {
  margin-left: var(--a-spacing-2);
  color: var(--a-surface-warning-moderate);
}

.listItem:hover {
  background-color: var(--a-surface-hover);
}

.categoryList ul li {
  margin: 0;
  cursor: pointer;
  padding: var(--a-spacing-2);
}