.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  min-height: calc(100vh - 112px);
}

.innstiltBanner {
  background-color: #ffc0c0;
  padding: var(--a-spacing-2);
  border-bottom: 1px solid var(--a-border-divider);
}

.behandle {
  border: 1px solid var(--a-gray-700);
  border-top: 0;
  border-bottom: 0;
}

.menyContainer {
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 50px;
  border-right: 1px solid var(--a-border-divider);
  top: 112px;
}

.behandlingStegListe {
  display: flex;
  flex-direction: column;
}

.behandlingStegListe ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
