body {
  display: flex;
  flex-direction: column;
}

.container {
  display: grid;
  grid-template-columns: 285px auto;

  padding: var(--a-spacing-4);
  height: 100%;
}

.venstreMeny {
  background-color: var(--a-white);
  min-height: calc(100vh - 48px);
  box-shadow: var(--a-shadow-xsmall);

  margin-top: calc(var(--a-spacing-4) * -1);
  margin-left: calc(var(--a-spacing-4) * -1);
  margin-bottom: calc(var(--a-spacing-4) * -1);
  margin-right: var(--a-spacing-4);
}
