.container {
  display: grid;
  grid-template-columns: 285px auto;

  background-color: var(--ax-bg-sunken);
  padding: var(--ax-space-16);
  height: 100%;
}

.venstreMeny {
  background-color: var(--ax-bg-default);
  min-height: calc(100vh - 48px);
  box-shadow: var(--dp-shadow-2);

  margin-top: calc(var(--ax-space-16) * -1);
  margin-left: calc(var(--ax-space-16) * -1);
  margin-bottom: calc(var(--ax-space-16) * -1);
  margin-right: var(--ax-space-16);
}

.stickyTabs > * {
  position: sticky;
  top: 48px;
  background-color: var(--ax-bg-default);
  z-index: 2;
}

.tabPanel {
  display: flex;
  flex-direction: column;
  gap: var(--ax-space-8);
  padding: var(--ax-space-8) var(--ax-space-16);
  z-index: 1;
}
