.container {
  padding: var(--a-spacing-8);
}

.formContainer {
  display: flex;
  gap: var(--a-spacing-4);

  margin-top: var(--a-spacing-4);
}

.buttonContainer {
  margin-top: var(--a-spacing-8);
}
