.oppgaveContainer {
  display: grid;
  gap: var(--a-spacing-2);
  padding: var(--a-spacing-4);
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.behandling {
  display: grid;
  gap: var(--a-spacing-2);
  grid-template-columns: 2fr 1fr;
}

.modalCenterHeader {
  display: flex;
  justify-content: center;
}

.modalCenterHeader button {
  position: absolute;
  right: var(--a-spacing-2);
}

.modalBody {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modalStatistikk {
  display: flex;
  align-items: center;

  padding: var(--a-spacing-2);
  margin-top: var(--a-spacing-2);

  border: 2px dashed var(--a-border-subtle);
  border-radius: var(--a-border-radius-large);
}

.modalIcon {
  margin-right: var(--a-spacing-4);
  font-size: var(--a-font-size-heading-large);
}

.modalFooter.modalFooter {
  display: flex;
  flex-flow: row nowrap;
}
