.oppgaveContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: var(--ax-space-8);
  padding: var(--ax-space-16);
}

.loaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
}

.behandling {
  display: grid;
  gap: var(--ax-space-8);
  grid-template-columns: 3fr 2fr;
}

.modalCenterHeader {
  display: flex;
  justify-content: center;
}

.modalCenterHeader button {
  position: absolute;
  right: var(--ax-space-8);
}

.modalBody {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.modalStatistikk {
  display: flex;
  align-items: center;

  padding: var(--ax-space-8);
  margin-top: var(--ax-space-8);

  border: 2px dashed var(--ax-border-neutral-subtle);
  border-radius: var(--ax-radius-12);
}

.modalIcon {
  margin-right: var(--ax-space-16);
  font-size: var(--ax-font-size-large);
}

.modalFooter.modalFooter {
  display: flex;
  flex-flow: row nowrap;
}
