.container {
  padding: var(--a-spacing-4);
  background-color: #f2f2f2;
  min-height: calc(100vh - 48px);
}

.behandlingBox {
  margin-top: var(--a-spacing-4);
  background-color: var(--a-white);
  box-shadow: var(--a-shadow-xsmall);
  border-radius: var(--a-border-radius-medium);
}

.tabMeny {
  display: flex;
}

.behandling {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.behandlingKnapper {
  display: flex;
  gap: var(--a-spacing-2);
  padding: var(--a-spacing-6) 0 var(--a-spacing-2);
}

.opplysninger {
  border-right: 1px solid var(--a-border-subtle);
  padding: var(--a-spacing-4);
}
