.header {
  position: sticky;
  top: 0;
  z-index: 100;
}

.headerLogo {
  display: flex;
  text-decoration: none;
}

.pageHeader span {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: var(--ax-space-8);
}
