.container {
  display: grid;
  grid-template-columns: 250px auto;
  grid-template-rows: auto;
}

.filterMeny {
  grid-column: 1 / 2;
  grid-row: 1 / span 3;

  padding: var(--a-spacing-4);
}

.lagretFilter {
  grid-column: 2 / 3;
  background-color: var(--a-blue-100);

  margin-top: var(--a-spacing-4);
  padding: var(--a-spacing-4);
  border-radius: var(--a-border-radius-large);
}

.lagretFilter button {
  margin-right: var(--a-spacing-2);
}

.oppgaveListe {
  grid-column: 2 / 3;
}
