.container {
  display: grid;
  grid-template-columns: 1fr 500px;
}

.stegContainer {
  padding: var(--a-spacing-4);
  box-shadow: var(--a-shadow-xsmall);

  position: relative;
  z-index: 10;
  min-height: calc(100vh - 48px);
}

.buttonContainerColumn {
  display: flex;
  gap: var(--a-spacing-4);
  margin-top: var(--a-spacing-4);
}
