.container {
  display: grid;
  grid-template-columns: 3fr 20px 1fr;
}

.leftColumn,
.rightColumn {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;

  overflow: hidden;
  /* Use box-sizing so that element's outerwidth will match width property */
  box-sizing: border-box;
}

.resizeHandle {
  width: 20px;
  padding: 0;
  cursor: ew-resize;
}
.resizeHandle::before {
  content: "";
  display: block;
  width: 4px;
  height: 100%;
  background: red;
  margin: 0 auto;
}
