.container {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.container div:first-child {
  margin-bottom: var(--a-spacing-1);
}

.container div > * {
  gap: 0;
}

.datepicker label {
  color: var(--a-text-subtle);
  font-size: var(--a-font-size-small);
  font-weight: var(--a-font-weight-regular);
}
