.container {
  position: sticky;
  top: 48px;
  z-index: 2;

  display: flex;
  gap: var(--a-spacing-12);
  padding: var(--a-spacing-4);

  background-color: var(--a-white);
  box-shadow: var(--a-shadow-xsmall);
}

.navnContainer {
  display: flex;
  align-items: center;
  gap: var(--a-spacing-2);
}

/* https://mathiasbynens.be/notes/html5-id-class 
   det er ok med ø i klassenavn!
*/
.fødselsnummerContainer {
  display: flex;
  align-items: center;
  gap: var(--a-spacing-1);
}

.iconContainer {
  border-radius: var(--a-border-radius-full);
  display: flex;
  justify-content: center;
  align-items: center;

  width: 26px;
  height: 26px;
}

.iconContainerMann {
  background-color: var(--a-blue-400);
}

.iconContainerKvinne {
  background-color: var(--a-red-400);
}

.utviklerinfo {
  margin-left: auto;
}
