.aktivitet label {
  display: flex;
  border: 0;
  width: 300px;
  padding: var(--a-spacing-2) var(--a-spacing-4);
  margin: 0 calc(var(--a-spacing-1) * -1) var(--a-spacing-2);
  background-color: var(--a-blue-200);
  border-radius: var(--a-spacing-6);
}

.aktivitet label span {
  color: var(--a-text-default);
}

.Arbeid label {
  background-color: var(--a-blue-200);
}
.Arbeid label:hover {
  background-color: var(--a-blue-300);
}

.Syk label {
  background-color: var(--a-orange-200);
}
.Syk label:hover {
  background-color: var(--a-orange-300);
}

.Ferie label {
  background-color: var(--a-green-200);
}
.Ferie label:hover {
  background-color: var(--a-green-300);
}
